.gradle
/API/partsnepal-api/.gradle/
/API/partsnepal-api/gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

API\partsnepal-api\.idea\
API\partsnepal-api\.gradle\
API\partsnepal-api\build\
API\partsnepal-api\.kotlin\

API\partsnepal-api\.vscode\


API/partsnepal-api/.idea/
API/partsnepal-api/.gradle/
API/partsnepal-api/build/
API/partsnepal-api/.kotlin/
API/partsnepal-api/.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/Web/main/.angular
/Web/main/.angular/cache
/Web/main/node_modules
/Android/PartsNepal/.kotlin
/admin_panel/main/.angular
